services:

  mongodb:
    image: 'mongo:latest'
    container_name: 'server-cache-mongo'
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_DATABASE}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_PASS}
    ports:
      - '27017:27017'
    volumes:
      - db-data:/data/db
      - ./create-user.js:/docker-entrypoint-initdb.d/create-user.js:ro

    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.runCommand({ ping: 1 })"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    depends_on:
      mongodb:
        condition: service_healthy
    environment:
      MONGO_HOST: ${MONGO_HOST}
      MONGO_PORT: ${MONGO_PORT}
      MONGO_USERNAME: ${MONGO_APP_USER}
      MONGO_PASSWORD: ${MONGO_APP_PASS}
      MONGO_DATABASE: ${MONGO_DB}
      MONGO_AUTH_DB: ${MONGO_AUTH_DB}

  volumes:
    db-data:
