services:

  mongodb:
    image: 'mongo:8.2.2'
    container_name: 'server-cache-mongo'
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_DATABASE}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASS}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_AUTH_DB: ${MONGO_AUTH_DB}
      MONGO_USERNAME: ${MONGO_USERNAME}
      MONGO_PASSWORD: ${MONGO_PASSWORD}

    ports:
      - '27017:27017'
    volumes:
      - db-data:/data/db
      - ./create-user.js:/docker-entrypoint-initdb.d/create-user.js:ro

    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.runCommand({ ping: 1 })"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    profiles: ["full"]
    build: .
    depends_on:
      mongodb:
        condition: service_healthy
    container_name: "server-cache-app"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      MONGO_HOST: ${MONGO_HOST}
      MONGO_PORT: ${MONGO_PORT}
      MONGO_USERNAME: ${MONGO_USERNAME}
      MONGO_PASSWORD: ${MONGO_PASSWORD}
      MONGO_DATABASE: ${MONGO_DATABASE}
      MONGO_AUTH_DB: ${MONGO_AUTH_DB}
      MONGO_MAX_POOL_SIZE: ${MONGO_MAX_POOL_SIZE}
      MONGO_MIN_POOL_SIZE: ${MONGO_MIN_POOL_SIZE}
    ports:
      - "8080:8080"

volumes:
  db-data:
